.cursor {
  display: inline-block !important;
  width: 0.6em !important; 
  height: 1em !important;  
  vertical-align: baseline !important; 
}

.react-terminal-line {
  text-wrap-mode: wrap !important; 
}