* .code-block{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: 0;
    
  }

  .code-block pre {
    padding: 0 !important;
    margin: 0 !important;
    margin-left: 20px !important;
  }
  
  span {
    color: white;
  }
  
  .line-number {
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
    width: 20px;
    text-align: right;
    font-size: 13px;
  }
  
  .code-line {
    display: flex;
    align-items: center;
    height: 23px;
  }
  
  .react-syntax-highlighter-line-number {
    margin-left: 0px;
  }
  